{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "mangle": {
          "keepFnName": true
        },
        "deadcode": {
          "keepFnName": true
        }
      }
    ]
  ]
}